

/*###### General formatting ######*/
* {
	margin: 0;
	padding: 0;
}
body {
	font-family: "Trebuchet MS", Helvetica sans-serif;
	background: #fff url(../images/fundo.png) repeat-x top left;
}
a {
	text-decoration: none;
}
#container {
	width: 750px;
	margin: 0 auto;
}


/*###### Header ######*/
#topo{
	height: 150px;
	background: url(../images/detalhe-topo.png) no-repeat right top;
	padding-top: 25px;
}
.logo{
	width: 152px;
	height: 66px;
	background: url(../images/logo.png) no-repeat center;
	text-indent: -3000px; /*used to "hide" the h1 header text*/
}
/*###### Header menu ######*/
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
#topo ul{
	margin-top: 30px;
	background: #b10333;
	float: left;
}
#topo ul li {
	float: left;
}
#topo ul li a {
	font-size: 0.9em;
	display: block;
	padding: 0.5em 1.5em;
	line-height: 2.1em;
	color: #fff;
	opacity: 1;
	background: url(../images/divisor.png) no-repeat left center;
}
#topo ul .primeiro a {
	background: none;
}
#topo ul a:hover{
	opacity: 0.5;
	transition: all .3s;
}
body.home #navegacao a#home,
body.brasil #navegacao a#brasil,
body.internacional #navegacao a#internacional,
body.economia #navegacao a#economia,
body.saude #navegacao a#saude,
body.ciencia #navegacao a#ciencia,
body.esporte #navegacao a#esporte /*used to "mark" the user's current page in the header menu */
{
	color: #fff;
	background: #de003e;
	opacity: 1;
	cursor: text;
}

/*###### Layout ######*/
#conteudo {
	margin-top: 60px;
	background: #f5f2f9;
}
#lateral {
	width: 180px;
	float: left;
	margin: 0 0 20px -750px;
}
#primario {
	width: 270px;
	float: left;
	margin: 0 0 20px 195px;
}
#duas-colunas #primario {
	width: 555px;
}
#uma-coluna #primario {
	width: 750px;
	margin: 0 0 20px 0;
}
#secundario {
	width: 270px;
	float: left;
	margin: 0 0 20px 15px;
}
#conteudo a:link, #conteudo a:visited{
	color: #294c71;
}
/*###### Content Boxes ######*/

.caixa {
	margin: 10px 0;
	padding: 5px;
	background: #f2f5f9 url(../images/fundo-caixa.png);
}
h2 {
	font-size: 1.1em;
	background: #294c71;
	color: #fff;
	padding: 5px;
}
h3 {
	text-transform: uppercase;
	display: inline;
}
.destaque h3{
	font-size: 0.9em;
	padding: 3px;
	background: #b10333;
	color: #fff;
}

.caixa-conteudo {
	background: #fff;
	padding: 5px;
	margin-top: 5px;
}

/*###### Left menu ######*/
#lateral ul a {
	font-size: 0.9em;
	padding: 3px;
	display: block;
	line-height: 30px;
	color: #000;
	text-decoration: none;
	border-bottom: 1px solid #f3f3f3;
}
#lateral ul a:hover {
	background: #f9f9f9 url(../images/marcador.png) no-repeat left center;
	padding-left: 20px;
	color: #a1a1a1;
	transition: all .3s;
}

/*###### Forms ######*/
label{
	display: block;
	cursor: pointer;
	font-weight: bold;
}
input {
	padding: 5px;
	margin-top:5px;
}
input[type="email"] {
	width: 130px;
	font-size: 0.9em;
	background-color: #fff;
	border: 2px solid #ccc;
}
input[type="submit"] {
	width: 80px;
	color: #fff;
	background-color: #b10333;
	border: 2px solid #870529;
}
input[type="submit"]:hover {
	cursor: pointer;
	opacity: 0.9;
	transition: all .3s;
}
/*###### Images ######*/
img.imagem-principal {
	width: 98%;
	margin-top: 5px;
	border: 3px solid #dfdfdf; 
}
/*###### Featured news list ######*/
.lista-destaque li {
	padding: 2px;
	border-bottom: 1px solid #ccc;
	height: 62px;
}
.lista-destaque li a img {
	float: left;
	margin: 5px;
	width: 80px;
}
.lista-destaque li a h3 {
	font-size: 0.8em;
	color: #3e7ab9;
}
.lista-destaque li a p {
	font-size: 0.7em;
}
.lista-destaque li:hover {
	background-color: #eee;
	transition: all .3s;

}
#conteudo .lista-destaque a:link, #conteudo .lista-destaque a:visited{
	color: #000;
}

/*###### Complete news ######*/
#lead h1 {
	font-size: 2.8em;
	padding: 3px;
	margin-bottom: 10px;
	color: #294c71;
}
#lead p {
	padding: 3px;
	margin-bottom: 30px;
}
 #primario .imagem-materia img {
	border: none;
	margin-top: 30px;
}
 #primario .imagem-materia p {
	font-size: 0.9em;
	color: #6E6E6E;
	margin-bottom: 30px;
}

#data-publi p {
	font-size: 0.9em;
}
#data-publi hr {
	width: 725px;
}
.leia-mais {
	background: none;
}
.leia-mais p{
	font-size: 1.3em;
}
.leia-mais h3{
	font-size: 1.2em;
}

/*###### Editoriais ######*/
#info-editoriais{
	padding: 3px;
}
#info-editoriais h1 {
	text-transform: uppercase;
	font-size: 2.5em;
	font-weight: 100;
	font-family: "Arial", "Verdana", Helvetica, sans-serif;
}
#sobre-jornalista p {
	font-size: 0.9em;
	margin-bottom: 20px;
}
#sobre-jornalista hr {
	width: 100%;
	margin-bottom: 20px;
}



.lista-editoriais li {
	padding: 2px;
	border-bottom: 1px solid #ccc;
	height: 200px;
}
.lista-editoriais li a img {
	float: left;
	margin: 5px;
	width: 280px;
}
.lista-editoriais li a h3 {
	font-size: 1.8em;
	color: #000;
	font-family: "Arial", "Verdana", Helvetica, sans-serif;
}
.lista-editoriais li a p {
	font-size: 1em;
	color: #6E6E6E;
}
.lista-editoriais li:hover {
	background-color: #eee;
	transition: all .3s;

}
#conteudo .lista-destaque a:link, #conteudo .lista-destaque a:visited{
	color: #000;
}






/*###### Footer ######*/
#container-rodape {
	clear: both;
	background: #294c71;
	padding: 20px;
}
#rodape {
	width: 750px;
	margin: 0 auto;
	color: #fff;
	text-align: center;
} 

